.Hobbies {
	display: flex;
	align-items: center;
  justify-content: center;
}

.Hobbies p {
	font-size: 3.7em;
	margin: 0;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 10px;
}

@media screen and (max-width: 768px) {
  /* line 140, ../sass/grid.scss */
  .Hobbies p {
	  font-size: 2.5em;
		margin: 0;
		padding-left: 3%;
		padding-right: 3%;
		padding-top: 10px;
  }

}