.resume-container {
	padding-top: 10%;
}

.resume {
		height: 1200px;
		background-color: #f6f6f6;
	  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	  padding-top: 8%;
	  margin-bottom: 10%;
	  padding-left: 4%;
	  padding-right: 4%;
}