.resume-container {
	padding-top: 10%;
}

.resume {
		height: 1650px;
		background-color: #f6f6f6;
	  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	  padding-top: 8%;
	  margin-bottom: 10%;
	  padding-left: 4%;
	  padding-right: 4%;
}

@media screen and (max-width: 1000px) {
  /* line 111, ../sass/grid.scss */
  .resume {
    height: 2000px; }
}

@media screen and (max-width: 999px) {

  .resume {
    height: 2800px; }
}
@media screen and (max-width: 740px) {
  /* line 140, ../sass/grid.scss */
  .resume {
    height: 2800px; }

}
@media screen and (max-width: 768px) {
  /* line 140, ../sass/grid.scss */
  .resume {
    height: 2800px; }

}

@media screen and (max-width: 758px) {
  /* line 140, ../sass/grid.scss */
  .resume {
    height: 3300px; 
    background-color: #f6f6f6;
    box-shadow: 0;
    padding-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    padding-right: 0;

  }

}