.SkillsContainer {
	display: flex;
	align-items: center;
  justify-content: center;
}

.railsLogo {
	padding-top: 25px;
	max-width: 60%;
	max-height: 60%;
}

.sinatra {
	padding-top: 24px;
/*	max-width: 90%;
	max-height: 90%;*/
}

.git {
	padding-top: 23px;
	max-width: 70%;
	max-height: 70%;
}

.node {
	padding-top: 22px;
	max-width: 70%;
	max-height: 70%;
}

.Skills p {
	/*margin-top: 0;*/
}